<div class="flex">
    <img src="{{ asset('img/favicon-96x96.png') }}" alt="Logo Sortir.com">
    <h1 class="site-name">Sortir.com</h1>
    <nav>
        <a href="{{ path('app_main_home') }}" title="Accueil">Accueil</a>
        {% if app.user %}
            <a href="{{ path('app_logout') }}" title="Se déconnecter">Se déconnecter</a>
            <a href="{{ path('app_profil_view', {'string': app.user.pseudo}) }}">Mon profil</a>
            {% if is_granted("ROLE_ADMIN") %}
                <a href="" title="Panneau Admin">Panneau admin</a>
            {% endif %}
        {% else %}
            <a href="{{ path('app_login') }}" title="Se connecter">Se connecter</a>
            <a href="{{ path('app_registration_register') }}" title="S'inscrire">S'inscrire</a>
            {# Si l'user est connecté, enlever le lien se connecter et afficher les liens : mon profil et se déconnecter #}
        {% endif %}
    </nav>
</div>