{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div>
            {% if app.user.avatar %}
                {{ app.user.avatar }}
            {% else %}
                <img src="{{ asset('img/imagedemerde.png') }}" alt="Photo de profil">
            {% endif %}
        </div>
        <div class="margin-left">
            <h2>{{ app.user.pseudo }}</h2>
            <p>Prénom : {{ app.user.firstName }}</p>
            <p>Nom : {{ app.user.lastName }}</p>
            <p>Téléphone : {{ app.user.phoneNumber }}</p>
            <p>Email : {{ app.user.email }}</p>
            <p>Campus : {{ app.user.campus }}</p>
        </div>
    </div>
    <button class="btn"><a href="{{ path('app_main_home') }}">Retour</a></button>
{% endblock %}