{% extends 'base.html.twig' %}
{% block title %}
    {{ user.pseudo }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="img-fluid d-flex flex-wrap align-items-center">
            <img style="max-width: 200px; height: auto;" class="img-fluid" src="{{ asset('img/userAvatar/' ~ user.avatar) }}" alt="Avatar">
        </div>
        <div class="margin-left">
            <h2>{{ user.pseudo }}</h2>
            <p>Prénom : {{ user.firstName }}</p>
            <p>Nom : {{ user.lastName }}</p>
            <p>Téléphone : {{ user.phoneNumber }}</p>
            <p>Email : {{ user.email }}</p>
            <p>Campus : {{ user.campus }}</p>
        </div>
    </div>
    <div class="center-btn">
        {% if app.user.id == user.id %}
            <button class="btn btn-outline-dark"><a href="{{ path('app_profil_edit') }}">Modifier</a></button>
        {% endif %}
        <button class="btn btn-outline-dark"><a href="{{ path('app_main_home') }}">Retour</a></button>
    </div>
{% endblock %}