{% extends 'base.html.twig' %}

{% block title %}Créer Sortie{% endblock %}

{% block body %}



                <h1>Créer une sortie</h1>

    <div id="form_search">
        {{ form_start(outingForm) }}

                    <div class="p-2"><strong>{{ form_row(outingForm.nameOuting) }}</strong></div>
                    <div class="datetime-widget p-2"><strong>{{form_row(outingForm.dateHourOuting)}}</strong></div>
                    <div class="date p-2"><strong>{{form_row(outingForm.dateInscriptionLimit)}}</strong></div>
                    <div class="p-2"><strong>{{ form_row(outingForm.spotNumber) }}</strong></div>
                    <div class="p-2"><strong>{{ form_row(outingForm.duration, {'attr': {'placeholder': 'en minutes.'}}) }}</strong></div>
                    <div class="p-2"><strong>{{ form_row(outingForm.description) }}</strong></div>
                    <div class="p-2"><strong>{{ form_row(outingForm.Campus) }}</strong></div>

            <div class="d-flex flex-column">
                <div class="form-group">
                    <div class="p-2">
                        {% if errorCity %}
                            <ul>
                                <li><strong>Vous devez choisir une ville.</strong></li>
                            </ul>
                        {% endif %}
                        <strong><label for="ville-input">Ville : </label></strong>
                        <input list="ville-select" id="ville-input" type="text" name="ville" {% if cityName != "" %} value="{{ cityName }}" {% endif %} placeholder="Chercher une ville">
                        <datalist id="ville-select">
                        </datalist>
                    </div>
                </div>
                <div>
                    <div class="p-2">
                        {% if errorZipCode and errorCity == false %}
                            <ul>
                                <li><strong>Le code postal est invalide.</strong></li>
                            </ul>
                        {% endif %}
                        <strong><label for="codePostal-select">Code Postal : </label></strong>
                        <select style="width:200px;" id="codePostal-select" name="codePostal" {% if zipCode == "" %}disabled="true"{% endif %}>
                        {% if zipCode != "" %}
                            <option>{{ zipCode }}</option>
                        {% endif %}
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" name="form_name[submit]" class="btn btn-dark">Envoyer</button>
    </div>
        {{ form_end(outingForm) }}
{% endblock %}

{% block endPageScript %}
    <script src="{{ asset('script/app.js') }}"></script>
{% endblock %}