{% extends 'base.html.twig' %}

{% block title %}Créer Sortie{% endblock %}

{% block body %}


<div class="container-fluid pt-3">
        <div class="row">
            <div class="col">
                <h2>Créer une sortie</h2>
                <hr>
            </div>
        </div>

        {{ form_start(outingForm) }}
         <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="d-flex flex-column">
                    <div class="p-2"><strong>{{ form_row(outingForm.nameOuting) }}</strong></div>
                    <div class="datetime-widget p-2"><strong>{{form_row(outingForm.dateHourOuting)}}</strong></div>
                    <div class="date p-2"><strong>{{form_row(outingForm.dateInscriptionLimit)}}</strong></div>
                    <div class="p-2"><strong>{{ form_row(outingForm.spotNumber) }}</strong></div>
                    <div class="p-2"><strong>{{ form_row(outingForm.duration, {'attr': {'placeholder': 'en minutes.'}}) }}</strong></div>
                    <div class="p-2"><strong>{{ form_row(outingForm.description) }}</strong></div>
                    <div class="p-2"><strong>{{ form_row(outingForm.Campus) }}</strong></div>
                </div>
            <div class="d-flex flex-column">
                <div class="form-group">
                    <label for="ville-input">Ville : </label>
                    <input list="ville-select" id="ville-input" type="text" name="ville" placeholder="Chercher une ville">
                    <datalist id="ville-select">
                    </datalist>
                </div>

                <div>
                    <label for="codePostal-select">Code Postal : </label>
                    <select style="width:200px;" id="codePostal-select" name="codePostal" disabled="true">
                    </select>
                </div>
            </div>

            <button type="submit" name="form_name[submit]" class="btn btn-outline-dark">Envoyer</button>

            </div>
        </div>
        {{ form_end(outingForm) }}
{% endblock %}

{% block endPageScript %}
    <script src="{{ asset('script/app.js') }}"></script>
{% endblock %}