{% extends 'base.html.twig' %}

{% block title %}Hello OutingsController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Créer une sortie</h1>


    <div class="outing_form">
        {{ form_start(outingForm) }}
        {{ form_row(outingForm.nameOuting) }}
        <div class="datetime-widget" style="overflow: hidden;  text-overflow: ellipsis; white-space: nowrap;">
                        {{form_label(outingForm.dateHourOuting)}}
                        {{form_widget(outingForm.dateHourOuting)}}
                    </div>
        <div class="date" style="overflow: hidden;  text-overflow: ellipsis; white-space: nowrap;">
                        {{form_label(outingForm.dateInscriptionLimit)}}
                        {{form_widget(outingForm.dateInscriptionLimit)}}
                    </div>
        {{ form_row(outingForm.spotNumber) }}
        {{ form_row(outingForm.duration) }}
        {{ form_row(outingForm.description) }}
        {{ form_row(outingForm.Campus) }}
            <div class="form-group">
                <label for="ville-input">Ville : </label>
                <input list="ville-select" id="ville-input" type="text" name="ville">
                <datalist id="ville-select">
                </datalist>
            </div>

            <div>
                <label for="codePostal-select">Code Postal : </label>
                <select style="width:200px;" id="codePostal-select" name="codePostal" disabled="true">
                </select>
            </div>
            <button>Submit</button>
{% endblock %}

{% block endPageScript %}
    <script src="{{ asset('script/app.js') }}"></script>
{% endblock %}