{% extends 'base.html.twig' %}

{% block title %}OutingViewController{% endblock %}

{% block body %}
    <h1>Afficher une Sortie</h1>
<div class="container">
    <div class="row">
        <div class="col">

            <p>Nom de la Sortie : {{ view.nameOuting }}</p>
            <p>Date et heure de la sortie : {{ view.dateHourOuting|format_datetime(locale='fr') }}</p>
            <p>Date limite d'inscription : {{ view.dateInscriptionLimit|format_date(locale='fr') }}</p>
            <p>Nombre de places : {{ view.spotNumber }}</p>
            <p>Durée de la sortie : {{ view.duration }} Minutes</p>
            <p>Description : {{ view.description }}</p>
            {# if date.now() < datesortie THEN Statut = ... elsif ... #}
            {% set now = 'now'|date %}
            {% if now < view.dateHourOuting %}
                <p>Statut : {{ view.status }}</p>
            {% else %}
                <p>Statut : {{ view.status }}</p>
            {% endif %}
            <p>Campus : {{ view.campus }}</p>
            <p>Ville : {{ view.city }}</p>
            <p>Code postal : {{ view.city.codePostal }}</p>
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-bordered col-4">
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            {% for member in view.members %}
                <tr>
                    <td>{{ member.pseudo }}</td>
                    <td>{{ member.firstName }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-4"></div>
    <div class="col-4"></div>
</div>
<div>
    {% if status == "En création" and (outing.author == app.user or is_granted("ROLE_ADMIN")) %}
        <a href="{{ path('app_outing_publish', {'id': outing.id}) }}"><button>Publier</button></a>
    {% elseif status == "Ouvert" and (outing.author == app.user or is_granted("ROLE_ADMIN")) %}
        <a href="{{ path('app_outing_edit', {'id': outing.id}) }}"><button>Modifier</button></a>
    {% endif %}
    {% if userMember != true %}
        <a href="{{ path('app_outing_subscribe',{ 'id': view.id }) }}"><button>S'inscrire</button></a>
    {% else %}
        <a href="{{ path('app_outing_unsubscribe',{ 'id': view.id }) }}"><button>Se désinscrire</button></a>
    {% endif %}
</div>
{% endblock %}
