{% extends 'base.html.twig' %}

{% block title %}OutingViewController{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Afficher une Sortie</h1>

    <p>Nom de la Sortie : {{ view.nameOuting }}</p>
    <p>Date et heure de la sortie : {{ view.dateHourOuting|format_datetime(locale='fr') }}</p>
    <p>Date limite d'inscription : {{ view.dateInscriptionLimit|format_date(locale='fr') }}</p>
    <p>Nombre de places : {{ view.spotNumber }}</p>
    <p>Durée de la sortie : {{ view.duration }} Minutes</p>
    <p>Description : {{ view.description }}</p>
    <p>start : {{ start }}</p>
    <p>now : {{ now }}</p>
    <p>end : {{ end }}</p>
    {# if date.now() < datesortie THEN Statut = ... elsif ... #}
    {% set now = 'now'|date %}
    {% if now < view.dateHourOuting %}
        <p>Statut : {{ view.status }}</p>
    {% else %}
        <p>Statut : {{ view.status }}</p>
    {% endif %}
    <p>Campus : {{ view.campus }}</p>
    <p>Ville : {{ view.city }}</p>
    <p>Code postal : {{ view.city.codePostal }}</p>


</div>


{% endblock %}
